@font-face {
    font-family:'PP Neue Montreal';
    src: url('fonts/PP-Neue-Montreal/PPNeueMontreal-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    font-style: normal;
    /* cursor: none; */
}

body, html {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

h2 {
    font-size: 100px;
    font-weight: 500;
}

p {
    margin: 0;
    font-size: 25px;
}

.sub_title {
    font-size: 28px;
    font-weight: 600;
}

.title {
    font-size: 45px;
    font-weight: 600;
}

/* ---------------------------------- Header Nav --------------------------------------------- */

.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    display: grid;
}

#defaultCanvas0 {
    position: absolute;
    top: 350px;
    left: calc(50% + 590px);
    z-index: 2;
}

.navlinks {
    display: flex;
    justify-content: space-around;
    padding: 0 138px;
    align-items: center;
}

.navlinks a {
    font-weight: 500;
    color: #000;
}

.thausingpng {
    
}

/* ---------------------------------- Over- and Underlay --------------------------------------------- */

#honest_overlay {
    position: absolute;
    width: 100%;
    background: #e9ca32;
    z-index: 2;
    clip-path: circle(40px at center);
    pointer-events: none;
}

.red {
    color: #fff;
}

#professional_underlay {
    position: absolute;
    width: 100%;
    background: #ffffff;
    color: #000000;
    z-index: 1;
}

/* ---------------------------------- Infinite Scroll Container About --------------------------------------------- */
.infinite_scroll_container {
    display: flex;
    width: 100%;
    white-space: nowrap;
}

.infinite_scroll_text {
    text-transform: uppercase;
    font-size: 600px;
    font-weight: 900;
    animation: animate_text 10s linear infinite;
}

.infinite_scroll_text span {
    margin: 0 200px;
    font-weight: Condensed Bold;
}

@keyframes animate_text {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
}



/* ---------------------------------- Spinning Text --------------------------------------------- */

.circle_text {
    position: absolute;
    top: 300px;
    left: calc(50% + 540px);
    width: 200px;
}

svg {
    fill: currentColor;
    height: auto;
    transform-origin: center;
    width: 200px;
    animation: spin 6s linear infinite;
    pointer-events: none;
  }

  /* @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
  } */

  /* ---------------------------------- Landing Container --------------------------------------------- */

.landing_text_container {
    padding-top: 350px;
    height: calc(100vh - 400px);
    text-align: center;
}

.landing_text {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.flash1 {
    position: absolute;
    top: 200px;
    left: calc(50% - 600px);
}

.flash2 {
    position: absolute;
    top: 840px;
    left: calc(50% - 820px);
    transform: rotate(-115deg);
}

.flash3 {
    position: absolute;
    top: 700px;
    left: calc(50% + 700px);
    transform: rotate(125deg)
}

  /* ---------------------------------- Me Container --------------------------------------------- */

.me_container {
    display: flex;
    align-items: flex-start;
    padding: 0 138px;
}

.portrait_me {
    height: 580px;
    border-radius: 15px;
}

.shine {
    position: relative;
    top: 250px;
    left: 150px;
    pointer-events: none;
}

.me_container .sub_title {
    width: 910px;
}

.me_container > div:first-of-type {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    position: relative;
    top: -5px;
    height: 580px;
}

.me_container .title {
    margin-bottom: 60px;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.bulletpoint {
    display: flex;
    flex-direction: row;
    min-width: 450px;
}

.bulletpoint img {
    position: relative;
    top: 6px;
    width: 21px;
    height: 21px;
    margin-right: 10px;
}

.invisible_hover {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.invisible_hover:hover {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.storytext {
    position: relative;
    padding-left: 585px;
    padding-right: 138px;
    line-height: 50px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.8s ease;
}

.invisible_storytext {
    top: -45px;
    color: #ffffff00;
}

.story_beginning {
    opacity: 0;
    transition: opacity 0.8s ease;
}

/* ---------------------------------- Currently Based in --------------------------------------------- */

.currentlybased {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 450px 0;
    margin-left: calc(50vw - 285px);
    padding: auto;
}

.currentlybased p {
    margin: 0 5px;
}

/* ---------------------------------- Collab Section --------------------------------------------- */

.collab_container {
    display: flex;
    justify-content: space-between;
    padding: 0 138px;
    margin-bottom: 400px;
}

.collab_text {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teamfoto {
    border-radius: 15px;
    height: 580px;
    margin-left: 30px;
}

.bobi_link {
    position:relative;
    color: white;
    font-size: 30px;
    pointer-events:fill;
    left: 1500px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    width: 200px;
}

.tobi_link {
    position:relative;
    color: white;
    font-size: 20px;
    pointer-events: all;
    left: 1000px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    width: 200px;
}

.arthur_link {
    position:relative;
    color: white;
    font-size: 8px;
    pointer-events: all;
    left: 1700px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    width: 60px;
}


/* ---------------------------------- Proficiency Section --------------------------------------------- */

.proficiency_container {
    margin-bottom: 700px;
    min-width:max-content;
}

.proficiency_container img {
    height: 150px;
}

.proficiency_container img:first-child { /* proficient in */
    position: relative;
    left: 260px;
}

.proficiency_container img:nth-child(2){ /* CSS3 */
    position: relative;
    top: 300px;
    rotate: -12deg;
    left: 300px;
}

.proficiency_container img:nth-child(3){ /* Figma */
    position: relative;
    left: 1000px;
    top: 150px;
    rotate: -7deg
}

.proficiency_container img:nth-child(4){ /* HTML5 */
    position: relative;
    left: 340px;
    rotate: 15deg;
}

.proficiency_container img:nth-child(5){ /* JS */
    position: relative;
    top: 360px;
    left: 380px;
    rotate: 3deg;
}

.proficiency_container img:nth-child(6){ /* XD */
    height: 130px;
    position: relative;
    top: 480px;
    left: 650px;
    rotate: 13deg;
}

.proficiency_container img:nth-child(7){ /* Steps */
    height: 90px;
    position: relative;
    top: 450px;
    left: -1100px;
}

.proficiency_container img:nth-child(8){ /* Chat GPT */
    height: 130px;
    position: relative;
    top: 550px;
    left: -1560px;
}

/* ---------------------------------- Projects Section --------------------------------------------- */

.star_container {
    width: 0;
    height: 0;
}

.star1 {
    position: relative;
    top: -300px;
    left: 500px;
}

.star2 {
    position: relative;
    left: 1150px;
}

.star3 {
    position: relative;
    top: -200px;
    left: 1500px;
}

.star4 {
    position: relative;
    top: -80px;
    left: 2200px;
}

.project_container {
    padding: 138px;
    display: flex;
    margin: 150px 0;
}

.sg_reel {
    transform: rotate(-3deg);
}

.monkeygif {
    transform: rotate(3deg);
}

.project_video {
    width: 54vw;
    margin-right: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: width 0.5s ease, height 0.5s ease, box-shadow 0.5s ease;
}
  
.project_video.play {
    width: 55vw;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.38);
}

.project_text{
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;
}


/* ---------------------------------- Contact Section --------------------------------------------- */

.contact_container {
}

.contact_container img{
    position: relative;
    top: -100px;
    left: calc(50vw - 786px);
    pointer-events: none;
}

.contact_container .arrowfield_empty {
    height: 1024px;
} 

.contact_button {
    position: relative;
    top: 450px;
    display: flex;
    justify-content: center;
}

.contact_button a {
    border: solid black 2px;
    border-radius: 100px;
    padding: 30px;
    text-decoration: none;
    color: black;
}

.cb_overlay a {
    background-color: black;
    color: white;
}




.invisible {
    opacity: 0;
}